.submitButton {
    margin-top: 40px !important;
    margin: 20px !important;
    background-color:#FD7D21 !important;
    max-width:100px !important;
    width:80% !important;
    color:#fff !important;
}

.submitButton:hover{
    background-color:#D56D19 !important; 
}

.submitButton:disabled {
    background-color:#fff !important; 
    color:#9E9E9E !important; 
}

.MuiInput-underline:after,.MuiInput-underline:before {
    border-bottom: 2px solid #FD7D21 !important;
}

.MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-completed{
    color:#D56D19 !important;
}
