.sub-Loading{
  margin-left: 90px;
  font-size:22px !important;
  color:#fff;
  font-weight:bold !important;;
  animation:show 7s ease !important;
  -o-animation:show 7s ease !important;
  -moz-animation:show 7s  ease !important;
  -webkit-animation:show 7s ease !important;
}

.Title-Loading{
  font-size:32px !important;
  color:#fff;
  font-weight:bold !important;;
  animation: wiggleWiggle 6s ease !important;
  -o-animation:show 6s ease !important;
  -moz-animation:show 6s  ease !important;
  -webkit-animation:show 6s ease !important;
}

  #load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:60%;
    margin-top: 30px;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    animation:show 3s ease;
    -o-animation:show 3s ease;
    -moz-animation:show 3s  ease;
    -webkit-animation:show 3s ease;
  }
  
  @keyframes show {
    0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
  }
  
  @-moz-keyframes show {
    0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
  }
  
  @-webkit-keyframes show {
    0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
  }
  
  @-o-keyframes show {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }


  #load div {
    position:absolute;
    width:30px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 3s linear infinite;
    -o-animation:move 3s linear infinite;
    -moz-animation:move 3s linear infinite;
    -webkit-animation:move 3s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#fff;
  }
  
  #load div:nth-child(2) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }

  
  @keyframes move {
    0% {
      right:0;
      opacity:0;
    }
    35% {
      right: 41%; 
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      right:59%; 
      -moz-transform:rotate(0deg); 
      -webkit-transform:rotate(0deg); 
      -o-transform:rotate(0deg);
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      right:100%; 
      -moz-transform:rotate(-180deg); 
      -webkit-transform:rotate(-180deg); 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-moz-keyframes move {
    0% {
      right:0; 
      opacity:0;
    }
    35% {
      right:41%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      right:59%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    100% {
      right:100%; 
      -moz-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-webkit-keyframes move {
    0% {
      right:0; 
      opacity:0;
    }
    35% {
      right:41%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      right:59%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      right:100%;
      -webkit-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }
  
  @-o-keyframes move {
    0% {
      right:0; 
      opacity:0;
    }
    35% {
      right:41%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      right:59%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
        right:100%; 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }


  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .RedirectButtonLink{
    margin-top: 30px;
    width: 100px;
    text-decoration: none !important;
  }