@import url("./Styles/Buttons.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  direction: rtl;
  box-sizing: border-box;
  font-family: main !important;
}

@font-face {
  font-family: main;
  font-weight: 800;
  src: url("./Assets/Koodak.ttf");
}

.Fade-in {
  -webkit-animation: Present 3s ease;
  -moz-animation: Present 3s ease;
  -ms-animation: Present 3s ease;
  animation: Present 3s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 100vh;
}
@-moz-keyframes Present {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes Present {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Present {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Present {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
